tqdm==4.66.2
torch==2.1.2+cu121
openai==1.9.0
SPARQLWrapper==2.0.0
rank-bm25==0.2.2
sentence-transformers==2.7.0
qwikidata==0.4.2
transformers==4.50.0
numpy=1.26.4
requests==2.31.0

# for ELQ
pysolr==3.8.1
emoji==0.5.3
regex==2024.4.16
matplotlib==3.8.4
nltk==3.9.1
segtok==1.5.11
flair==0.6.1
pytorch-transformers==1.2.0
colorama==0.4.3
termcolor==1.1.0
faiss-cpu==1.8.0
